<%- include('../includes/head.ejs') %>
<style>
  th {
    font-size: 0.75rem;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
</style>
</head>


<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <% if (cartProducts.length > 0) { %>
          <% for (let product of cartProducts) { %>
            <div class="cart">
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
              <div>
                <%= product.title %>
                 (<%= product.cartItem.quantity %>)
              </div>

             <a href="/delete-cart-item/<%= product.id %>" class="btn">Remove</a>
            </div>
          <% } %>
        <form action="/create-order" method="POST" style="margin:auto;width:160px;padding-top:20px;display:block;">
          <button type="submit" class="btn">Place Order</button>
        </form>
      <% } else { %>
        <h1>Nothing in your cart</h1>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>
